Source: big-crime-grub-theme
Section: graphics
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 11),
               inkscape,
               grub-common
Standards-Version: 4.1.4
Vcs-Git: https://github.com/siduction/grub-theme.git
Vcs-Browser: https://github.com/siduction/grub-theme


Package: big-crime-grub-theme
Architecture: all
Depends: ${misc:Depends},
Description: grub-theme for Big Crime
 mostly copy from grub-sources

Package: big-crime-live-grub-theme
Architecture: all
Depends: ${misc:Depends},
         big-crime-grub-theme
Description: live grub-theme for Big Crime
 mostly copy from grub-sources (live)
